*{
  box-sizing: border-box;
}

/*Body centered in the middle as a box */
body{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/*White canvas with 5px border*/
#myCanvas{
  background-color: #fff;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 10px;
}

