<div class="container-fluid">
    <div class="row">
        {{> dashboard_sidebar }}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">News Letter</h1>

            <h2 class="sub-header">Send:</h2>
            <form method="post" action="send">
                <div class="form-group ">
                    <label for="role">For: </label>
                    <select class="form-control" id="role" name="role">
                        <option>Teacher</option>
                        <option selected="">Student</option>
                        <option>Director</option>
                    </select>

                    <label for="news">Text:</label>
                    <textarea type="text" name="news" class="form-control" id="news"
                        placeholder="mail text"> </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>

            <h2 class="sub-header">Push messages:</h2>
            <form action="send_push" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="mail" placeholder="Mail Address"
                        aria-label="Mail Address" aria-describedby="basic-addon1">
                </div>
                <label for="message">Text:</label>
                <textarea type="text" name="message" class="form-control" id="message"
                    placeholder="message text"> </textarea>
                <br>
                <button type="submit" class="btn btn-primary">Send</button>

            </form>
        </div>
    </div>
</div>