@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital@1&display=swap");

.padded {
  padding: 15px;
}

.list ul li {
  padding: 10px 15px 12px 2px;
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
}

.list ul {
  list-style: none;
  padding-left: 15px;
  margin: 0;
}

.title {
  font-size: 50px;
  color: #5d5f61;
  font-weight: shadow-multiple;
  font-family: fantasy;
}

.btn {
  color: #f0f8ff;
  background-color: #e9ecef;
}

* {
  box-sizing: border-box;
}

/* Style the body */
.body {
  height: auto;
  width: auto;
  margin: 0;
  background: linear-gradient(230deg, #14d2e0 0%, rgb(97, 95, 96) 80%);
}

/* Header/logo Title */
.header {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  text-align: center;
  background: linear-gradient(230deg, #f0f3f3 0%, rgb(43, 41, 41) 80%);
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 55px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  /* position: sticky; */
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(12, 11, 15);
  color: rgb(0, 119, 255);
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  font-size: 10px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.footer {
  background: linear-gradient(230deg, #14d2e0 0%, rgb(97, 95, 96) 80%);
  color: white;
  font-size: 10px;
}

#sidebar .custom-menu .btn.btn-primary:after {
  content: "";
  left: 2px;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "FontAwesome";
  color: rgb(146, 9, 9);
}
#sidebar .custom-menu .btn.btn-primary:after,
#sidebar .custom-menu .btn.btn-primary:before {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "FontAwesome";
  color: rgb(146, 9, 9);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
