<!DOCTYPE HTML>
<html>

<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<title>LogicGate</title>

	<script type="text/javascript" src="game_scripts/lz-string-1.3.3.js"></script>
	<script type="text/javascript" src="game_scripts/tools.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/button.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/gate.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/wiregroup.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/wire.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/toolbar.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/saving.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/environment.js?v=3"></script>
	<script type="text/javascript" src="game_scripts/main.js?v=3"></script>
</head>

<body onresize="onResizeCanvas()">
	<link rel="stylesheet" href="stylesheets/game_style.css">

	<canvas id="canvas">
		Sorry! LogiGate requires a browser that supports HTML5 Canvas.
	</canvas>
	<div class="alert alert-primary" role="alert">
		<div>
			<a href="#" class="alert-link"></a>You need help? press here and notifity your teacher!
			<input class="btn btn-primary" id="help" type="submit" onclick="helpAlert()" value="Call For Help!">
		</div>

		<p></p>
		<form action="/Rate" method="GET">

			<input class="btn btn-primary" type="submit" value="Rate the game!">
		</form>
</body>

<script> function helpAlert() {
		alert("Help requested!");
	}

</script>

</html>