<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogiGate</title>
    <link rel="stylesheet" href="stylesheets/index_style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/sidebar/css/style.css">
    <style>
body {
    font-family: 'LogiGate';font-size: 22px;
}
</style>

</head>

<body>

    <div class="header">
        <h1>LogiGate</h1>
        <p>Boolean algebra and logic circuit simulator</p>
    </div>

    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/Game">Game</a>
        <a href="../Dashboards/dashboard">Dashboard</a>
        <a href="/Register" class="right">Sign Up</a>
        <a href="/Login" class="right">Sign In</a>
        <a href="/Tutorial"> Tutorial</a>
    </div>






    <div class="position-relative">
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    </button>
                </div>
                <div class="img bg-wrap text-center py-4" style="background-image: url(/sidebar/images/bg_1.jpg);">
                    <div class="user-logo">
                        <div class="img" style="background-image: url(/sidebar/images/logo.jpg);"></div>
                        {{#if user}}
                        <h3>{{user}}</h3>
                        {{else}}
                        <h3>Guest</h3>
                        {{/if}}
                    </div>
                </div>



                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="/Game"><span class="fa fa-home mr-3"></span>New Task</a>
                    </li>
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span>Connect with Teachers</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-gift mr-3"></span>Edit Task</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-trophy mr-3"></span>New Group</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
                    </li>
                    <li>
                        <a href="support"><span class="fa fa-support mr-3"></span>Support</a>
                    </li>
                    <li>
                        <a href="signoff"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
                    </li>
                </ul>

            </nav>

        </div>
    </div>



    </div>

    </div>
    </div>
    </header>
    </div>



    <!-- YOUR CODE HERE -->
    <div class="position-bottom">
        <div class="footer">
            <label for="fontsize" class="form-label">Font size</label>
            <input type="range" class="form-range" min="1" max="100" value="1" onchange="enlarge(this.value)"
                id="fontsize">
            <button class="btn btn-primary" onclick="make_bold()">Mark font</button>
        </div>
    </div>

    <script src="/sidebar/js/jquery.min.js"></script>
    <script src="/sidebar/js/popper.js"></script>
    <script src="/sidebar/js/bootstrap.min.js"></script>
    <script src="/sidebar/js/main.js"></script>
    <script src="js/font.js"></script>
</body>

</html>