<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/rate.css">
    <title>Rate task</title>
</head>

<body>
    <form action="/Game" method="GET">
        <input class="btn btn-primary" type="submit" value="Back To Game">
    </form>
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
                <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100"
                        width="100">
                    <div class="comment-box text-center">
                        <h4>Add a comment</h4>
                        <div class="rating" id="rating"> <input type="radio" name="rating" value="5" id="5"><label
                                for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input
                                type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio"
                                name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio"
                                name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="comment-area"> <textarea class="form-control" id="comment"
                                placeholder="what is your view?" rows="4"></textarea> </div>
                        <div class="text-center mt-4">
                            <form action="/Rate" method="POST"> {{!-post the rate}}
                                <input class="btn btn-primary" type="submit" value="Rate">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>