<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard1.css')}}" />
  <title>Document</title>
</head>

<body>
  <h3>User Management</h3>
  {%for data in users_db%}
  {{data.name}} ,{{data.last}}
   {{data.password}}
  <a href="/delete/{{data.id}}">delete</a>
  <form method="post" action="/update/{{data.id}}">
    <input name="name" for="name" placeholder="Please type new name here.." />
    <button id="myBtn1" onclick="">Update</button>
  </form>
  <br>
  {%endfor%}

</body>

</html>