<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard2.css')}}" />
  <title>Document</title>
</head>

<body>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Create Room</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Easy Room</a>
      <a href="#">Medium Room</a>
      <a href="#">Hard Room</a>
    </div>
  </div>

  <button class="btn success">Create Mission</button>
  <textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="Enter mission description"></textarea>
</body>
<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>

</html>