<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard2.css')}}" />
  <title>Document</title>
</head>

<body>
  <form action="/newroom" method="post">
    <div class="dropdown">
      <button type="submit" value="easy" for="name" name="name">Easy Room</button>
      <button type="submit" value="medium" for="name" name="name">Medium Room</button>
      <button type="submit" value="hard" for="name" name="name">Hard Room</button>
    </div>
    </div>
    <textarea for="description" id="w3review" name="description" rows="4" cols="50"
      placeholder="Enter mission description"></textarea>
  </form>

  <form action="/assign" method="post">
    <label for="name">Assign to room:</label>
    <input type="text" id="name" name="name" required />
    <button type="submit">Add</button>
  </form>
  {% if rooms|length < 1 %} <p>No Rooms created</p>
    {%else%}
    <table>
      <tr>
        <th>Room Name</th>
        <th>Room Description</th>
        <th>Room users</th>
      </tr>
      {% for room in rooms %}
      <tr>
        <td>{{room.name}}</td>
        <td>{{room.description}}</td>
        <td>{{room.users}}</td>
        <td>
          <a href="/deleter/{{Activity.id}}">Delete</a>
          <br>
          <a href="/update/{{Activity.id}}">Update</a>
        </td>
      </tr>
      {%endfor%}
    </table>
    {%endif%}

<!--  Activity-->
  <form action="/activity" method="post">
    <label for="act">Assign to activity:</label>
    <input type="text" name="act" id="act"  required />
    <button type="submit">Add</button>

  </form>
  {% if activity|length < 1 %} <p>No mission created</p>
    {%else%}
    <table>
      <tr>
        <th>Activity Description</th>
        <th>Activity users</th>
      </tr>
      {% for a in activity %}
      <tr>
        <td>{{a.name}}</td>
        <td>{{a.users}}</td>
      </tr>
      {%endfor%}
    </table>
    {%endif%}


</body>


<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>

</html>