<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>LogiGate</title>
    <!-- <link rel="stylesheet" href="Styles/index_style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/index_style.css')}}">
    {%block head%}
    {%endblock%}
</head>

<body>
    {%block body%}
    {%endblock%}

    <body>
        <div class="header">
            <h1>LogiGate</h1>
            <p>Boolean algebra and logic circuit simulator</p>
        </div>

        <div class="navbar">
            <a href="#" class="active">Home</a>
            <a href="/game">Game</a>
            <a href="#">Language</a>
            <a href="register.html" class="right">Register</a>
            <a href="/Login" class="right">Login</a>
        </div>

        <!-- YOUR CODE HERE -->
        <div class="footer">
            <h2>Facebook</h2>
            <h2>Twitter</h2>
            <h2>Instagram</h2>
        </div>

    </body>

</html>