#canvas{
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 00px;
    /* image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    justify-content: center; */
    display: inline;
  }

#canvas-container{
    text-align: center;
}
 

